In [9]:
# Author:       Andrey Norin
# Title :       Get Long Island School District Ratings data
# Date Created: 11/01/2022
# Date Updated: 11/26/2022

import pandas as pd
import requests

# this code uses Pandas read_html method to import tables directly into 
# a dataframes collection.  no BeautifulSoup parsing required

url   = "https://www.realestatehudsonvalleyny.com/resources/best-school-districts-long-island/"
page  = requests.get(url)
dfs   = pd.read_html(page.text)

schoolDistrictsSATscores = dfs[0]

#export CSV
#schoolDistrictsSATscores.to_csv('schoolDistrictsSATscores.csv', encoding='utf-8')

#print schoolDistrictsSATscores dataframe
#display(schoolDistrictsSATscores)

# this code will display Regents Exam scores, but some values are missing
#schoolDistrictsRegentsExamScores = dfs[1]
#schoolDistrictsRegentsExamScores.to_csv('schoolDistrictsRegentsExamScores.csv', encoding='utf-8')
#display(schoolDistrictsRegentsExamScores)

In [10]:
display(schoolDistrictsSATscores)

       SCHOOL DISTRICT   COUNTY  # TEST TAKERS  AVG SCORE  AVG ERW  AVG MATH
0              Jericho   Nassau            101       1292      629       663
1            Manhasset   Nassau             69       1259      611       648
2               Roslyn   Nassau             64       1216      606       610
3   Cold Spring Harbor  Suffolk             57       1214      606       608
4              Syosset   Nassau            274       1213      596       617
..                 ...      ...            ...        ...      ...       ...
92       Central Islip  Suffolk            217        938      477       461
93           Brentwood  Suffolk            682        927      492       480
94           Hempstead   Nassau            152        901      462       440
95           Wyandanch  Suffolk             51        887      449       438
96           Roosevelt   Nassau            119        886      543       434

[97 rows x 6 columns]

In [13]:
# create boolean filter masks for Suffolk and Nassau
suffolkOnly = schoolDistrictsSATscores['COUNTY'] == 'Suffolk'
nassauOnly  = schoolDistrictsSATscores['COUNTY'] == 'Nassau'

In [21]:
# generate new dataframes for Suffolk and Nassau counties
suffolkSchoolDistricts = schoolDistrictsSATscores[suffolkOnly]
suffolkSchoolDistricts = suffolkSchoolDistricts.reset_index(drop=True)

nassauSchoolDistricts = schoolDistrictsSATscores[nassauOnly]
nassauSchoolDistricts = nassauSchoolDistricts.reset_index(drop=True)

In [24]:
# export dataframes to .csv files

suffolkSchoolDistricts.to_csv('suffolkSchoolDistricts.csv')
nassauSchoolDistricts.to_csv('nassauSchoolDistricts.csv')